:host ::ng-deep {
  @import "../../../node_modules/carbon-components/scss/globals/scss/styles.scss";
}

.file-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-item > label {
    flex-basis: 60%;
    flex-grow: 1;
}

.file-item > div {
    flex-basis: 40%;
    flex-grow: 1;
}

.bx--select {
    width: 100%;
}

.bx--select-input {
    width: 100%;
}