<div class="d-flex flex-column">
    <!-- Domain Address -->
    <div class="row">
        <div class="col-sm-12">        
            <h3>Domain</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">        
            <h6>rs28.rocketsoftware.com</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <!-- Path Input and Display -->
    <form>
        <label for="path" id="path-label" class="bx--label">Path:</label>
        <div class="path-bar">
            <input id="path-input" type="text" class="bx--text-input bx--text-input--light" placeholder="/usr/local/bin">
            <div class="browser-list">
                <button class="bx--btn bx--btn--primary" style="">
                    <svg width="24" height="24" viewBox="0 0 20 20"><path d="M3 4h14v1H3zm0 6h14v1H3zm0 6h14v1H3z"></path></svg>
                </button>
            </div>
            <div class="browser-list">
                <button class="bx--btn bx--btn--primary" style="">
                    <svg width="24" height="24" viewBox="0 0 23 24"><path d="M20.5 18v-6h-9V5.9C12.9 5.7 14 4.5 14 3c0-1.7-1.3-3-3-3S8 1.3 8 3c0 1.5 1.1 2.7 2.5 2.9V12h-8v6.1C1.1 18.4 0 19.6 0 21c0 1.7 1.3 3 3 3s3-1.3 3-3c0-1.5-1.1-2.7-2.5-2.9V13h16v5.1c-1.4.2-2.5 1.5-2.5 2.9 0 1.7 1.3 3 3 3s3-1.3 3-3c0-1.5-1-2.8-2.5-3zM9 3c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zM5 21c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm15 2c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"></path></svg>
                </button>
            </div>
        </div>
    </form>
    
    <!-- Download, Copy Panel -->
    <div class="download-copy-panel mt-3">
        <div id="download-button" class="col-xs-3 mt-1 mr-3">
            <button class="bx--btn bx--btn--primary" style="width:100%">
                Download 
                <svg width="16" height="16" viewBox="0 0 16 16"><path d="M8 11.953l3.905-4.09 1.453 1.374L7 16 .635 9.238l1.452-1.376L6 11.954V0h2v11.953z"></path></svg>
            </button>
        </div>

        <div></div>

        <div id="copy-button" class="col-xs-3 mt-1 ml-3">
            <button class="bx--btn bx--btn--primary" style="width:100%">
                Copy
                <svg width="16" height="16" viewBox="0 0 16 16"><path d="M1 10H0V2C0 .9.9 0 2 0h8v1H2c-.6 0-1 .5-1 1v8z"></path><path d="M11 4.2V8h3.8L11 4.2zM15 9h-4c-.6 0-1-.4-1-1V4H4.5c-.3 0-.5.2-.5.5v10c0 .3.2.5.5.5h10c.3 0 .5-.2.5-.5V9zm-4-6c.1 0 .3.1.4.1l4.5 4.5c0 .1.1.3.1.4v6.5c0 .8-.7 1.5-1.5 1.5h-10c-.8 0-1.5-.7-1.5-1.5v-10C3 3.7 3.7 3 4.5 3H11z"></path></svg>
            </button>
        </div>
    </div>

    <!-- Tree Browser -->
    <div class="row flex-grow-1 p-grid p-align-stretch vertical-container mt-3">
        <div class="col">
            <div class="box box box-stretched">
                <p-tree id="tree"></p-tree>
            </div>
        </div>
    </div>

    <!-- Upload Button for z/OS -->
    <button class="bx--btn bx--btn--secondary mt-3" style="width:100%;">Upload files to z/OS...</button>
</div>