/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

:host {
    @import "../../../node_modules/carbon-components/scss/globals/scss/styles.scss";

svg {
    fill: #ffffff;
}

.download-copy-panel {
    display: flex;
}

.path-bar {
    display: flex;
}

#path-label {
    display: block;
}

#path-input {
    flex-grow: 1;
    min-width: 0px;
    order: 0;
}

#tree {
    width: 100%;
    min-height: 150px;
}

.panel-header{
    font-size: 0.875rem; 
    line-height: 1.25; 
    font-weight: 600;
}
}