
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="connection-view-component">
        <!--<link rel="stylesheet" type="text/css" href="/ZLUX/plugins/com.rs.mvd.fileTransferApp/node_modules/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/ZLUX/plugins/com.rs.mvd.fileTransferApp/node_modules/primeng/resources/primeng.min.css" />
        <link rel="stylesheet" type="text/css" href="/ZLUX/plugins/com.rs.mvd.fileTransferApp/node_modules/primeng/resources/themes/omega/theme.css" />-->
    
    <p-contextMenu #leftTreeCm [model]="leftTreeMenu" appendTo="body"></p-contextMenu>
    <p-contextMenu #rightTreeCm [model]="rightTreeMenu" appendTo="body"></p-contextMenu>
    <p-contextMenu #leftListCm [model]="leftListMenu" appendTo="body"></p-contextMenu>
    <p-contextMenu #rightListCm [model]="rightListMenu" appendTo="body"></p-contextMenu>

    <p-dialog header="Create new directory" [(visible)]="displayNewDirectoryDialog">
        <div>
            <label>{{getPathFromRoot(contextTreeNode)}} / </label>
            <input type="text" pInputText [(ngModel)]="newDirectoryName" placeholder="NewFolder"/>
        </div>
        <div>
            <button pButton type="button" label="OK" (click)="onNewDirectoryOk()"></button>
            <button pButton type="button" label="Cancel" (click)="onNewDirectoryCancel()"></button>
        </div>
    </p-dialog>

    <p-dialog header="Confirm action on {{contextSide}}" [(visible)]="displayConfirmDialog">
        <div>
            <label>{{confirmMessage + getPathFromRoot(contextTreeNode)}}</label>
        </div>
        <div>
            <button pButton type="button" label="OK" (click)="onConfirmOk()"></button>
            <button pButton type="button" label="Cancel" (click)="onConfirmCancel()"></button>
        </div>
    </p-dialog>

    <p-dialog header="In progress" [(visible)]="displayProcessDialog" [style]="{'width':'400px'}">
            <div>
                <p-progressBar [value]="progressValue"></p-progressBar>
            </div>
    </p-dialog>

    
    <p-progressBar *ngIf="currentProgress > 0 && currentProgress < 100" [value]="currentProgress"></p-progressBar>
    <div>
        <p-messages [(value)]="errorMessages"></p-messages>
    </div>
    <div class="trees">
        <div style="display:none">
            <p-fileUpload #leftUpload mode="basic" chooseLabel="Upload to ZLUX host..." customUpload="true" auto="true" (uploadHandler)="uploadHandler($event, leftUpload, sideLocal, uploadHandlerProgress)"></p-fileUpload>
        </div>
        <div #leftTreeDiv [style]="{'width':'50%'}">
            <div class="ui-inputgroup" style="width:100%; display:flex; justify-content: space-around">
                <button pButton type="button" label="Download to browser" (click)="browserDownload(sideLocal)"></button>
                <button pButton type="button" label="Zlux Upload..." (click)="uploadBtn(leftUpload, sideLocal)"></button>
                <button pButton type="button" *ngIf="connection.ftaWs.remoteConnected" label="Copy" icon="fa fa-caret-square-o-right" iconPos="right" (click)="fileCopyBtn(sideLocal)"></button>
            </div>
            <div class="ui-inputgroup" style="width:100%; display:flex">
                <span class="ui-inputgroup-addon" style="flex-grow:0">Local path:</span>
                <input type="text" style="flex-grow:1" [(ngModel)]="leftPath" (keyup.enter)="pathFieldEnter(sideLocal, leftPath)">      
            </div>
            <p-tree [value]="leftTree" selectionMode="single" [(selection)]="leftTreeSelectedNode" (onNodeSelect)="leftTreeNodeSelect($event)"  
                    (onNodeExpand)="leftTreeNodeExpand($event)" [style]="{'width':'100%', 'height':'300px'}"
                    [contextMenu]="leftTreeCm"></p-tree>
            <p-dataTable [value]="leftList" 
                         selectionMode="single" [(selection)]="leftListSelection" (onRowSelect)="leftListSelect($event)" 
                         (onRowDblclick)="leftListRowDblclick($event)" 
                         scrollable="true" scrollHeight="350px" 
                         [contextMenu]="leftListCm">
                <p-column field="name" header="Name" >
                    <ng-template let-rowdata="rowData" pTemplate="body">
                        <div style="display:flex">
                            <i *ngIf="rowdata?.isDir" class="fa fa-folder" aria-hidden="true"></i>
                            <i *ngIf="!rowdata?.isDir" class="fa fa-file" aria-hidden="true"></i>
                            <div *ngIf="!rowdata.isEditable"> {{rowdata.name}}</div>
                            <div *ngIf="rowdata.isEditable">
                                <input type="text" [(ngModel)]="rowdata.name" (keyup.enter)="rowDataInputEnter(rowdata)" (keyup.escape)="rowDataInputEscape(rowdata)">
                            </div>
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="size" header="Size"></p-column>
                <p-column field="attributes" header="Attributes"></p-column>
            </p-dataTable>
        </div>
        <div #rightTreeDiv *ngIf="connection.ftaWs.remoteConnected" [style]="{'width':'50%'}">
            <div style="display:none">
                <p-fileUpload #rightUpload mode="basic" chooseLabel="Upload to remote..." customUpload="true" auto="true" (uploadHandler)="uploadHandler($event, rightUpload, sideRemote, uploadHandlerProgress)"></p-fileUpload>
            </div>
            <div class="ui-inputgroup" style="width:100%; display:flex; justify-content: space-around">
                <button pButton type="button" label="Copy" icon="fa fa-caret-square-o-left" iconPos="left" (click)="fileCopyBtn(sideRemote)"></button>
                <button pButton type="button" label="Download to browser" (click)="browserDownload(sideRemote)"></button>
                <button pButton type="button" label="Remote Upload..." (click)="uploadBtn(rightUpload, sideRemote)"></button>
            </div>
            <div class="ui-inputgroup" style="width:100%; display:flex">
                <span class="ui-inputgroup-addon" style="flex-grow:0">Remote path:</span>
                <input type="text" [(ngModel)]="rightPath" style="flex-grow:1" (keyup.enter)="pathFieldEnter(sideRemote, rightPath)">
            </div>
            <p-tree [value]="rightTree" selectionMode="single" [(selection)]="rightTreeSelectedNode" (onNodeSelect)="rightTreeNodeSelect($event)"
                    (onNodeExpand)="rightTreeNodeExpand($event)" 
                    [contextMenu]="rightTreeCm"></p-tree>
            <p-dataTable [value]="rightList" 
                         selectionMode="single" [(selection)]="rightListSelection" (onRowSelect)="rightListSelect($event)" 
                         (onRowDblclick)="rightListRowDblclick($event)" 
                         scrollable="true" scrollHeight="350px" 
                         [contextMenu]="rightListCm">
                <p-column field="name" header="Name" >
                    <ng-template let-rowdata="rowData" pTemplate="body">
                        <div style="display:flex">
                            <i *ngIf="rowdata?.isDir" class="fa fa-folder" aria-hidden="true"></i>
                            <i *ngIf="!rowdata?.isDir" class="fa fa-file" aria-hidden="true"></i>
                            <div *ngIf="!rowdata.isEditable"> {{rowdata.name}}</div>
                            <div *ngIf="rowdata.isEditable">
                                <input type="text" [(ngModel)]="rowdata.name" (keyup.enter)="rowDataInputEnter(rowdata)" (keyup.escape)="rowDataInputEscape(rowdata)">
                            </div>
                        </div>
                    </ng-template>
                </p-column>
                <p-column field="size" header="Size"></p-column>
                <p-column field="attributes" header="Attributes"></p-column>
            </p-dataTable>
        </div>
    </div>
</div>
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
