<div class="d-flex flex-column">
  <!-- Header -->
  <div class="bx--row">
    <div class="bx--col-xs-12">
      <h3>New Connection</h3>
      <h6>Please enter remote server and credentials.</h6>
    </div>
  </div>

  <div class="bx--row">
    <div class="bx--col-xs-12">
      <hr>
    </div>
  </div>

  <!-- Connection Type Dropdown -->
  <div class="bx--form-item  mt-1">
    <div class="bx--select bx--select--inline bx--select--light">
      <label class="bx--label">Connection Type</label>
      <select class="bx--select-input" >
            <option class="bx--select-option" value="sftp" selected>SFTP</option>
            <option class="bx--select-option" value="ftp">FTP</option>
      </select>
      <svg class="bx--select__arrow" width="10" height="5" viewBox="0 0 10 5">
        <path d="M0 0l5 4.998L10 0z" fill-rule="evenodd" />
      </svg>
    </div>
  </div>

  <form>
    <!-- URL Input -->
    <div class="bx--form-item mt-3">
      <label for="URL" class="bx--label">URL</label>
      <input ibmText [(ngModel)]="address" name="domain" type="text" placeholder="Remote Server Address" >
    </div>

    <hr>

    <!-- Username Input -->
    <div class="bx--form-item mt-3">
      <label for="username" class="bx--label">Username</label>
      <input ibmText [(ngModel)]="username" name="username" type="text" placeholder="Username">
    </div>

    <!-- Password Input -->
    <div class="bx--form-item mt-3">
      <label for="password" class="bx--label">Password</label>
      <input ibmText [(ngModel)]="password" (keyup.enter)="passwordInputEnter()" name="password" type="password" placeholder="Password" >
    </div>
  </form>

  <!-- Connect/Cancel Buttons -->
  <div class="bx--row">
    <div class="bx--col-xs-12">
      <button ibmButton class="mt-3" id="connect-button" (click)="onConnectionDialogOk()">Connect</button>
      <button ibmButton="danger" class="mt-3" id="cancel-button">Cancel</button>
    </div>
  </div>
</div>
